<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>
        Welcome to {{title}}!
        <i class="fa fa-check"></i>
      </h1>
    </div>
  </div>
  <div class="row">
    <twain-quote></twain-quote>
    <!-- <app-dashboard></app-dashboard> -->
  </div>
  <div class="row">
    <div class="col-lg-3">
      <i class="fa fa-camera-retro fa-lg"></i>
    </div>
    <div class="col-lg-9">
      <button class="btn btn-primary">Bootstrap Primary Button</button>
    </div>
  </div>
</div>