<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Welcome to {{title}}!
        <i class="fa fa-check"></i>
      </h1>
    </div>
  </div>
  <div class="row routelinks">
    <nav>
      <div class="col-md-3">
        <a routerLink="/twain" routerLinkActive="active">Twain</a>
      </div>
      <div class="col-md-3">
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>